 <!-- Off Canvas -->
      
 <div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    
    <div class="offcanvas-body p-0">
        <nav class="navbar-light">
            <ul class="navbar-nav">
              <!-- Home -->
                <li>
                    <div class="text-muted small fw-bold px-3">
                         Home
                    </div>
                </li>
                <li>
                    <a href="/dashboard" class="nav-link px-3 active text-decoration-none text-black">
                        <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                  <a href="/viewPosts" class="nav-link px-3 active text-decoration-none text-black">
                      <span class="me-2"><i class="bi bi-people"></i></span>
                      <span>Community</span>
                  </a>
              </li>
              <li>
                <a href="/userAccount" class="nav-link px-3 active text-decoration-none text-black">
                    <span class="me-2"><i class="bi bi-people"></i></span>
                    <span>Account</span>
                </a>
            </li>
                <li class="my-1">
                    <hr class="dropdown-divider"/>
                </li>
                 <!-- Home -->
                
                 <!-- Manage -->
                 <li>
                    <div class="text-muted small fw-bold px-3">
                         Manage
                    </div>
                </li>
                <li>
                    <a href="/achievementManagement" class="nav-link px-3 active text-decoration-none text-black">
                        <span class="me-2"><i class="bi bi-trophy"></i></span>
                        <span>Achievements</span>
                    </a>
                </li>
                <li>
                    <a href="/viewAchievements" class="nav-link px-3 active text-decoration-none text-black">
                        <span class="me-2"><i class="bi bi-trophy-fill"></i></span>
                        <span>View Achievements</span>
                    </a>
                </li>

                <li>
                    <a href="/manageCategory" class="nav-link px-3 active text-decoration-none text-black">
                        <span class="me-2"><i class="bi bi-tags"></i></span>
                        <span>Categories</span>
                    </a>
                </li>
                <li>
                  <a href="/manageDefaultItems" class="nav-link px-3 active text-decoration-none text-black">
                      <span class="me-2"><i class="bi bi-archive"></i></span>
                      <span>Default Items</span>
                  </a>
              </li>

            <li>
                <a href="/userManagement" class="nav-link px-3 active text-decoration-none text-black">
                    <span class="me-2"><i class="bi bi-people"></i></span>
                    <span>Users</span>
                </a>
            </li>

            <li>
                <a href="/managePosts" class="nav-link px-3 active text-decoration-none text-black">
                    <span class="me-2"><i class="bi bi-stickies"></i></span>
                    <span>Posts</span>
                </a>
            </li>


                <li class="my-1">
                    <hr class="dropdown-divider"/>
                </li>
                 <!-- Manage -->
                  
            </ul>
        </nav>
    </div>
  </div>
  <!-- Off Canvas -->